html {
    background: #F2F2F2;
}
#uploadBox {
    padding: 1em;
    border: 0.25em solid #6e2de5;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 1em;
}

select {
    background: none;
    font-size: inherit;
}

select {
    margin-bottom: 0.5em;
}